<div class="row">
    <div class="container">
        <div class="col-sm-3"></div>
        <cc-joke-form class="col-sm-6"
                      (jokeCreated)="addJoke($event);"></cc-joke-form>

        <div class="col-sm-3"></div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="card-columns">
            <cc-joke class=""
                     [joke]="joke"
                     *ngFor="let joke of jokes"
                     (jokeDeleted)="deleteJoke($event);"></cc-joke>
        </div>
    </div>
</div>