<div class="card">
    <div class="card-block">
        <form (keydown.enter)="createJoke(setup.value, punchline.value, imageUrl.value)">
            <div class="form-group">
                <label for="imageUrl">Image url</label>
                <input type="text"
                       id="imageUrl"
                       class="form-control"
                       placeholder="Image url"
                       #imageUrl>
            </div>
            <div class="form-group">
                <label for="jokeSetup">Joke setup</label>
                <input type="text"
                       class="form-control"
                       id="jokeSetup"
                       placeholder="Setup"
                       #setup>
            </div>
            <div class="form-group">
                <label for="jokePunchline">Joke punchline</label>
                <input type="text"
                       class="form-control"
                       id="jokePunchline"
                       placeholder="Punchline"
                       #punchline>
            </div>

            <button type="button"
                    class="btn btn-primary"
                    (click)="createJoke(setup.value, punchline.value, imageUrl.value);">Create</button>
        </form>
    </div>
</div>